@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$green:#4caf4f;
$alice-blue:#f5f7fa;
$white:#ffffff;
$gray:#717171;
$dark-gray:#4d4d4d;
$smoke-white:#f5f7fa;
$drak-green:#263238;